@import url("webfont.css");

html, body {
	background-color: gray;
	color: white;
	font-family: "Courier New", Courier, monotype;
	font-weight: normal;
	font-size: 24px;
	overflow: hidden;
}

#bg {
	display: block;
	position: fixed;
	width:  100%;
	height:  100%;
	overflow: hidden;
}

#john {
	position: absolute;
}

#speed {
	position: absolute;
	text-align: center;
	width: 100%;
	overflow: hidden;
	bottom : 1em;
}


a{
	color: #00ffff;
	text-decoration: none;
}

a:hover{
	color: #33cccc;
}

div.bottom-notice {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0.5em;
	font-size: 50%;
	opacity: 0.3;
	transition: all 0.2s ease;
}

div.bottom-notice:hover {
	opacity: 1;
}

@font-face {
    font-family: 'Determination Sans';
    src: url('DeterminationMonoWeb.woff') format('woff');
}
